.DS_Store
.svn

# system folders
_backup/*
!_backup/README.md
_cache/*
!_cache/README.md
_logs/
!_logs/README.md
_temp/sessions/*
!_temp/sessions/README.md
_temp/*

# config files
_inc/config.json
_inc/custom/zzwrap_sql/pwd.json
