[submodule "_inc/library/zzwrap"]
	path = _inc/library/zzwrap
	url = git@github.com:koenige/zzwrap
[submodule "_inc/library/zzbrick"]
	path = _inc/library/zzbrick
	url = git@github.com:koenige/zzbrick
[submodule "_inc/modules/default"]
	path = _inc/modules/default
	url = git@github.com:koenige/modules-default
[submodule "_inc/modules/clubs"]
	path = _inc/modules/clubs
	url = git@github.com:koenige/modules-clubs
[submodule "_inc/modules/contacts"]
	path = _inc/modules/contacts
	url = git@github.com:koenige/modules-contacts
[submodule "_inc/library/markdown-extra"]
	path = _inc/library/markdown-extra
	url = git@github.com:michelf/php-markdown
[submodule "_inc/modules/zzform"]
	path = _inc/modules/zzform
	url = git@github.com:koenige/zzform
[submodule "_inc/themes/schachin"]
	path = _inc/themes/schachin
	url = git@github.com:koenige/themes-schachin
[submodule "www/_behaviour/leaflet-markercluster"]
	path = www/_behaviour/leaflet-markercluster
	url = git@github.com:Leaflet/Leaflet.markercluster
[submodule "www/_behaviour/leaflet"]
	path = www/_behaviour/leaflet
	url = git@github.com:Leaflet/Leaflet
[submodule "www/_behaviour/leaflet.fullscreen"]
	path = www/_behaviour/leaflet.fullscreen
	url = git@github.com:brunob/leaflet.fullscreen
