[submodule "_inc/modules/default"]
	path = _inc/modules/default
	url = git@github.com:koenige/modules-default
[submodule "_inc/modules/clubs"]
	path = _inc/modules/clubs
	url = ../modules-clubs
[submodule "_inc/modules/contacts"]
	path = _inc/modules/contacts
	url = git@github.com:koenige/modules-contacts
[submodule "_inc/library/markdown-extra"]
	path = _inc/library/markdown-extra
	url = git@github.com:michelf/php-markdown
[submodule "_inc/modules/zzform"]
	path = _inc/modules/zzform
	url = git@github.com:koenige/zzform
[submodule "_inc/themes/schachin"]
	path = _inc/themes/schachin
	url = ../themes-schachin
[submodule "www/_behaviour/leaflet-markercluster"]
	path = www/_behaviour/leaflet-markercluster
	url = git@github.com:Leaflet/Leaflet.markercluster
[submodule "www/_behaviour/leaflet"]
	path = www/_behaviour/leaflet
	url = git@github.com:Leaflet/Leaflet
[submodule "www/_behaviour/leaflet.fullscreen"]
	path = www/_behaviour/leaflet.fullscreen
	url = git@github.com:brunob/leaflet.fullscreen
[submodule "www/_behaviour/pagedown"]
	path = www/_behaviour/pagedown
	url = git@github.com:StackExchange/pagedown
[submodule "www/_behaviour/vxjs"]
	path = www/_behaviour/vxjs
	url = git@github.com:Vectrex/vxJS.git
[submodule "_inc/modules/feedback"]
	path = _inc/modules/feedback
	url = git@github.com:koenige/modules-feedback
[submodule "_inc/library/phpmailer"]
	path = _inc/library/phpmailer
	url = git@github.com:PHPMailer/PHPMailer
[submodule "_inc/modules/ratings"]
	path = _inc/modules/ratings
	url = ../modules-ratings
[submodule "_inc/themes/chess16"]
	path = _inc/themes/chess16
	url = ../themes-chess16
[submodule "_inc/modules/zzbrick"]
	path = _inc/modules/zzbrick
	url = git@github.com:koenige/zzbrick
[submodule "_inc/modules/zzwrap"]
	path = _inc/modules/zzwrap
	url = git@github.com:koenige/zzwrap
