; schach.in
; package information
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
; 

[about]
name = "schach.in Website"
author = "Gustaf Mossakowski"

[settings_ignore_packages]
description = "List of packages that are ignored when checking settings"
list = 1
default[] = activities
default[] = certificates
default[] = events
default[] = media
default[] = mediadblink
default[] = news
default[] = shop
default[] = tournaments
